{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit entry</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" id="title" value="{{title}}" required>
        <br><br>
        <p>Content</p>
        <textarea name="content" required>{{content}}</textarea>
        <br><br>
        <button type="submit" name="save" class="savebtn">save</button>
        <button type="submit" name="cancel" class="cancelbtn">cancel</button>
    </form>
{% endblock %}